#BankLogo{width:20%;}
#menu
{
    display: flex; 
    justify-content: space-between ;
    font-weight: bold; 
    font-size:  20px;
    padding: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center; 
   
    
  
} 
a
{
text-decoration: none;
color:rgb(100, 100, 100);
}
    /* display them in a single flex(all togather) , justify(arrange the content horizantly); */

#LoginBox
{
    background-color:rgb(255, 220, 25) ; 
    border-style: groove; 
    border-radius: 4px;  
    border-color:rgb(255, 203, 70) ; 
    width: 100%;
    text-align:center ; 
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-top: 10px;
    
}
#username {border: 2px solid rgb(255, 233, 205);
            border-radius: 4px; border-radius: 40px; }
#password
{
    border: 2px solid rgb(255, 233, 205);
    border-radius: 4px; border-radius: 40px;
} 
.chosecard{
     font-size: 50px; 
     padding-top: 100px;
     padding-bottom: 50px;
    text-align:center ; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif} 
#Cards 
{ 
    display: flex; 
    
    justify-content: space-evenly
}
.cardimg 
{
    max-width: 250px ;
    margin-right: auto;
}
.cardtitles
{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color:rgb(167, 124, 15)


}

.carddiv
{

    margin: 20px;
}

#webmiddlecontent{
    display: flex;
    justify-content: space-evenly;
   
}

.aboutp2Body
{
    font-size:15px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-style: normal;
    padding: 10px;

}

.heading123
{
    font-size:30px;
    color: rgb(255, 152, 18);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times, serif;
    font-style: normal;
    
}
#Body23
{display: flex;}

#openacountimage123
{
   
    margin-left: 300px ;
}
#block
{
background-color: rgba(240, 248, 255, 0.863);
border-radius: 5%;
padding: 20px;
width: 50%;
justify-content: space-between;
padding-bottom: 50px;

}
#workTogather
{
    background-image: url('screenshots/background2.jpg');
    background-size: cover;
    border-style: groove; 
    border-radius: 4px; 
    padding-right: 50px;
    padding-bottom: 50px;
    border-color: aliceblue;
    border-width: 10px;
    border-radius: 10px;  
    padding: 20px;
}
#openAccount
{
    padding: 30px;
}

#financeP
{
    text-align: center;
    text-decoration: solid;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 100px;
}
#financialGuidance
{ 
    display: flex;
    justify-content: center;
    
}
.finaPar1234
{
    width: 300px;
    padding : 100px;
    text-shadow: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: solid;
   
}

#financeimg1{
background-image: url(screenshots/1.jpg); background-size: cover;}
#financeimg2
{background-image: url(screenshots/2.jpg);background-size: cover;}
#financeimg3
{background-image: url(screenshots/3.jpg);background-size: cover;}
#financeimg4
{background-image: url(screenshots/4.jpg);background-size: cover;
}
.financecontent
{
   display: flex;

}
#footerNav
{text-align: center;
font-size: 20px;
justify-content: space-between;
}
.line
{
color: rgb(207, 207, 207);
margin: auto;
margin-top: 10px;

width: 1500px;
}